
.site--container{
  padding: 15px;
  &--breadcrumb{
    &__results{
      float: left;
      @media(max-width: 500px){
        width: 100%;
        text-align: center;
      }
    }

    &__filter{
      float: right;
      @media(max-width: 500px){
        width: 100%;
        text-align: center;
      }
      p{
        span{
          font-weight: bold;
        }
      }
    }
  }
}